<h1>An exciting new snail race!</h1>
<h2><%= first_snail.name %> vs <%= second_snail.name %></h2>
<br>
<p>And it's over!</p>
<p>As the dust settles everyone is able to see that <b><%= winner.name %></b>
won against poor <%= loser.name %>.</p>

<br><br>
<%= link_to 'Back', snails_path %>